.html, .body {
    overflow-x: hidden !important;
    font-family: 'Ubuntu', sans-serif;
    /*font-size: 2em;*/
}
nav {
    z-index: 99 !important;
}
.but-onglet>a {
    font-size: 1.5em;
}

.biggy-text-1 {
    font-size: 4em;
}

.side-nav {
    width: 400px !important;
}
.side-nav .circle, .side-nav .circle {
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
}

#app {
    padding-left: 400px;
}

.card-action {
    font-weight: bold;
}

.img-prev {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transition: opacity .5s;
}

.banner-article, .parallax-container {
    width: 100%;
    height: 400px;
}
.article-body {
    font-size: 20px !important;
}

.btn-sidenav {
    display: none;
}

.mobile-only {
    display: none;
}
.img-parallax {
    width: 100%;
}

@media only screen and (max-width: 993px)
{
    .html, .body {
        width: 99vw !important;
        overflow-x: hidden !important;
        font-family: 'Ubuntu', sans-serif;
        /*font-size: 2em;*/
    }
    #app {
        padding-left: 0 !important;
        padding-top: 64px;
    }

    .app-actual-content {
        padding-top: 64px;
    }

    .btn-sidenav {
        display: block;
        position: fixed !important;
        left: 20px;
        top: 20px;
        opacity: .7;
    }

    .side-nav {
        width: 300px !important;
        z-index: 999 !important;
    }

    .banner-article, .parallax-container {
        width: 100%;
        height: 300px !important;
        max-height: 50vh !important;
    }

    .sidenav-titles {
	       display: none;
    }

    .mobile-only {
        display: block;
    }

    .mobile-head {
        top: 0;
        margin-top: -64px;
        padding: 20px !important;
    }

    h1, h2, h3 {
        padding: 0 !important;
    }

    #img-mamadou-mobile {
        width: 128px !important;
    }

    #page_title_container {
        /*display: none;*/
    }
}
