
// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
//@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// Variables
@import "variables";

//Materializecss
//@import url("/node_modules/materialize-css/sass/materialize.scss");

@import "/css/medteck.css";
